<!DOCTYPE html>
<html>
  <head>
    <title>Stocks Exercise</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Stocks Exercise</a>
      </div>
    </nav>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading card-header">
          <span id="company-name">{{name}}</span>
          (<span id="company-code">{{tickerCode}}</span>)
        </div>
        <div class="panel-body">
          <p>Current Price: <span id="stock-price">{{stockPrice}}p</span></p>
          <p>
            Company details
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
