<div class="panel panel-default">
  <div class="panel-heading card-header">
    <span id="company-name">{{name}}</span>
    (<span id="company-code">{{tickerCode}}</span>)
    <span class="stock-price pull-right">
      Price: <span id="stock-price">{{stockPrice}}p</span>
    </span>
  </div>
  <ul class="news list-group">
    {{#each news}}
    <li class="list-group-item">
      <span class="glyphicon {{sentimentClass sentiment}} pull-right"></span>
      <h4 class="list-group-item-heading">{{headline}}</h4>
      <p class="list-group-item-text">
        {{body}}
      </p>
    </li>
    {{/each}}
  </ul>
